---
import BlogPost from "../components/BlogPost.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
import "../styles/global.css";

let allPosts = await Astro.glob("../pages/posts/*.md");
allPosts = allPosts.sort((a, b) => {
	let dateA = new Date(a.frontmatter.pubDate);
	let dateB = new Date(b.frontmatter.pubDate);
	if (dateA < dateB) {
		return 1;
	} else if (dateA == dateB) {
		return 0;
	}
	return -1;
});
---

<BaseLayout>
	<p>
		Welcome to Roughly Understood! My name is James and I am writing blog
		posts on various topics from programming to physics to electrical
		engineering.
	</p>

	<p>
		People tend to over-estimate their knowledge on a topic. My goal here is
		to show that every understanding of a topic is a rough understanding.
		There is always another layer deeper we can go. I don't claim to be an
		expert on any of these topics. However, I do wish to write about them
		with the hopes that our rough understanding can become a little closer
		to what is really going on. Potentially looking at the problem from new
		and exciting perspectives.
	</p>

	<p>
		I don't claim to be an expert in everything in all of my posts so if you
		find something that you think could be written more clearly, or
		something that is flat out wrong. Please feel free to open an issue on
		this blogs <a href="https://github.com/James-Rhodes/roughly-understood"
			>GitHub page</a
		>.
	</p>
	<h2>Posts</h2>
	<div class="flex flex-col">
		{
			allPosts.map((post) => (
				<BlogPost
					url={post.url}
					title={post.frontmatter.title}
					pubDate={post.frontmatter.pubDate}
					description={post.frontmatter.description}
					tags={post.frontmatter.tags}
				/>
			))
		}
	</div>
</BaseLayout>
